[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
openai = "*"
python-dotenv = "*"
pypdf = "*"
langchain-chroma = "*"
beautifulsoup4 = "*"
langfuse = "*"

[dev-packages]

[requires]
python_version = "3.13"
