[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
faiss-cpu = "*"
transformers = "*"
chromadb = "*"
"pdfminer.six" = "*"
python-dotenv = "*"
langchain-community = "*"
pypdf = "*"
langchain-openai = "*"
langchain-anthropic = "*"
langchain-google-vertexai = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.9"
